/*    Two factor code section   */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  width: 100%;
  height: 70%;
  margin-top: 3rem;
}

/*    Form inputs container   */
.twc_inputs {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*    Form inputs   */
.twc_input-code {
  width: 3.5rem;
  height: 4rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--gray);
  background: var(--light-gray);
}

.twc_input-code.error {
  border: 2px solid var(--red);
  animation: error-shake 0.3s ease-out 2;
}
/*    Form verify code button   */
.twc_verify-btn {
  width: 15rem;
  height: 4rem;
  color: var(--white);
  border: none;
  background: var(--purple);
}

/*    Form valid code container   */
.twc_see-valid-code {
  position: relative;
  width: 12rem;
}

/*    Form valid code button   */
.see-valid-code_btn {
  position: absolute;
  left: 8%;
  z-index: 10;
  text-decoration: underline;
  color: var(--fuchsia);
  border: none;
  background: transparent;
}

/*    Form valid code   */
.valid-code {
  position: absolute;
  left: 35%;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: var(--fuchsia);
}

@keyframes error-shake {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
}
